/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(82, 86, 89);
}

canvas, .canvas-container {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.toolbar .title_box{
  margin-right: 20px !important;
}
.title_box span {
  font-size: 20px;
  color: #0c2058;
  font-family: 'poppins';
}
.toolbar {
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #525659;
}
.toolbar .left , 
.toolbar .right{
  display: flex;
  align-items: center;
}
#pdf-container {
  margin-top: 60px;
  padding-left: 10px;
  text-align: center;
}

button:focus {
  outline: 0;
}

.toolbar .tool {
  display: flex;
  color: #040e4e;
  height: 100%;
  padding-left: 10px;
  margin-right: 8px;
  align-items: center;
}
.toolbar .tool svg{
  color : #040e4e
}
.toolbar .tool label{
  margin-right: 10px;
}
.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
  display: inline-block;
  width: auto;
  height: auto !important;
  padding: 0;

}

.toolbar .tool input {
  width: 50px;
  cursor: pointer;
}
.toolbar .tool input::-webkit-color-swatch {
  border-radius: 5px;
}

.toolbar .tool .color-tool {
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  box-shadow: 0px 0px 7px 1px #ccc;
}
.toolbar .tool.color input {
  height: 30px !important;
  border: 0;
  background: transparent;
}
.toolbar .tool .color-tool.active {
  position: relative;
}


.toolbar .tool .color-tool.active:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 100px;
}

.toolbar .tool .tool-button {
color: #fff;
    cursor: pointer;
    border: 0;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255)
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
  background-color: rgb(174 204 250 / 42%)
}
.outline_box{
  border: 1px solid #ccc;
  padding: 4px !important;
  border-radius: 5px;
}
.outline_box select{
  border: 0;
  font-size: 15px;
}
canvas, .canvas-container {
  margin-bottom: 25px;
}

.canvas-container {
  margin-left: auto;
  margin-right: auto;
}

.toolbar .tool .icon img {
  width: 23px;
  height: 23px;
}
.toolbar .tool .tool-button img{
  width: 23px;
  height: 23px;
}
.toolbar .tool .btn img{
  width: 23px;
  height: 23px;
}


.toolbar .right .btn{
  cursor: pointer;
}
.toolbar .right .btn:not(.savebtn){
  border: 1px solid #175db5;
  border-radius: 5px;
  padding: 3px 7px;
  background-color: #ffffff;
}
.savebtn{
  background-color: #175db5;
  padding: 11px 10px;
  color: #fff;
  border-radius: 6px;
  border: 1px solid;
  min-width: 100px;
  letter-spacing: 1px;
  font-size: 14px;
}